<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sucess-otp.css" />
    <title>OTP Page</title>
  </head>
  <body>
    <div class="container su-success-container">
      <h2 class="su-sucess-text">SUCESSFULLY SIGNED UP!</h3>
      <a href="/login" class="a-b2l-btn"><button class="b2l-btn"> Back to Login</button></a>
    </div>
  </body>
</html>
